@{
    ViewData["Title"] = "Home Page";
    List<Pessoa> listapessoa1 = ViewBag.Preview;
    List<Pessoa> listapessoa = ViewBag.SelectCliente;
    List<Pessoa> listapessoa2 = ViewBag.SelectClientesPendentes;
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Ta difirci esse negocio <a href=".... eita vida..."></a>.</p>
    </div>


    <div class="text-center">
        <h1 class="display-4">Lista do Profissional solicitado: </h1>
        <ul>
            @foreach (var item in listapessoa) // funcao para testar na tela
            {
                <li>Nome: @item.Nome ... Fone: @item.Fone ... Tempo Exp: @item.TempoExperiencia anos... Ramo Ativ: @item.RamoAtividade1 ... Bairro: @item.Bairro.</li>
            }
        </ul>
    </div>




    <div class="text-center">
        <h1 class="display-4">Lista ultimo cadastrado</h1>
        <ul>
            @foreach (var item in listapessoa1) // funcao para testar na tela
            {
                <li>Nome: @item.Nome ... Fone: @item.Fone ... Tempo Exp: @item.TempoExperiencia anos... @item.RamoAtividade1</li>
            }
        </ul>
    </div>





    <div class="text-center">
        <h1 class="display-4">Lista de todos os cadastrados pendentes</h1>
        <ul>
            @foreach (var item in listapessoa2) // funcao para testar na tela
            {
                <li>Nome: @item.Nome ... Fone: @item.Fone ... Tempo Exp: @item.TempoExperiencia anos... Ramo ativ: @item.RamoAtividade1 ... Status: @item.Status</li>
            }
        </ul>
    </div>
