@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="~/js/site.js" type="text/javascript" rel="stylesheet" />
    <link href="~/css/CadProfissoes.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>

    <div class="centralForm">
        <div class="shape">
            <form class="form validate-form" action="Teste01" method="get">
                <span class="form-title">
                    Serviços.
                </span>

                <div class="wrap-input100 input100-select">
                    <strong><span class="label-input100" name="teste" id="teste">Selecione sua Profissão</span></strong>
                    <div>
                        <select class="personalizar-select" name="ramo">
                            <option disabled selected>Serviços...</option>
                            <option name="eletricista">Eletricista</option>
                            <option name="encanador">Encanador</option>
                            <option name="pintor">Pintor</option>
                            <option name="arquiteto">Arquiteto</option>
                            <option name="pedreiro">Pedreiro</option>
                            <option name="marceneiro">Marceneiro</option>
                            @*<option name="barbeaira">Barbearia</option>
                            <option name="Restaurante">Restaurante</option>
                            <option name="Mecânica">Mecânica</option>
                            <option name="Parque aquático">Parque aquático</option>
                            <option name="Tatuador">Tatuador</option>
                            <option name="Floricultura">Floricultura</option>*@
                        </select>
                    </div>
                </div>


                <div class="wrap-input100 input100-select">
                    <strong><span class="label-input100">Tempo de Experiêcia</span></strong>
                    <div>

                        <select class="personalizar-select" name="tempoExp">
                            <option disabled selected>XP.</option>
                            <option value="0">Menos de 1 ano </option>
                            <option value="1">1 ano</option>
                            <option value="2">2 anos</option>
                            <option value="3">3 anos</option>
                            <option value="4">4 anos</option>
                            <option value="5">+5 anos</option>
                        </select>

                    </div>
                </div>

                @*caixa de mensagens*@
                <div>
                    @*<div class="wrap-input100 validate-input" data-validate="Message is required">
                            <span class="label-input100">Message</span>
                            <textarea class="input100" name="message" placeholder="Your message here..."></textarea>
                            <span class="focus-input100"></span>
                        </div>*@
                </div>

                <input type="hidden" name="nome" value="@ViewBag.name"/>
                <input type="hidden" name="email" value="@ViewBag.email"/>
                <input type="hidden" name="cpf" value="@ViewBag.cpf"/>
                <input type="hidden" name="datanascimento" value="@ViewBag.datanascimento"/>
                <input type="hidden" name="telefone" value="@ViewBag.telefone"/>
                <input type="hidden" name="cep" value="@ViewBag.cep"/>
                <input type="hidden" name="cidade" value="@ViewBag.cidade"/>
                <input type="hidden" name="endereco" value="@ViewBag.endereco"/>
                <input type="hidden" name="bairro" value="@ViewBag.bairro"/>

                <div>
                    <input type="submit" class="subs" value="Continue" formaction="/Home/PreviewVCard"><br>

                </div>
                <div>
                    <input type="submit" class="volta" value="Voltar" formaction="/Home/Visit">

                </div>

            </form>

        </div>
    </div>

</body>
</html>
