@{
    ViewData["Title"] = "V-Card";
    List<Pessoa> listapessoa = ViewBag.SelectCliente;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title></title>
    <link href="~/css/Pessoas.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <div class="text-center">
            <h1 class="display-4">Lista do Profissional solicitado: </h1>
            @foreach (var item in listapessoa) // funcao para testar na tela
            {
                <form action="" method="post">

                    @*<li class="lista">Nome: @item.Nome ... Fone: @item.Fone ... Tempo Exp: @item.TempoExperiencia anos... Ramo Ativ: @item.RamoAtividade1 ...</li>*@
                    <button value="@item.Id" name="id" formaction="/Home/MostaVCard">Nome:@item.Nome | Serviço: @item.RamoAtividade1 | Tempo Exp: @item.TempoExperiencia anos</button><br>
                </form>
            }
        </div>
    </div>

</body>
</html>

